@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.homeContainer {
  background-color: black;
  height: 95vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.7fr 2.3fr;
}

.titlesContainer {
  font-family: "Roboto", sans-serif;
  background-color: white;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titlesHeading {
  position: sticky;
  padding: 3vh;
  background-color: white;
  width: 100%;
  top: 0;
}

.titlesHeading h1 {
  position: sticky;
  width: 100%;
  text-align: center;
}

.titlesAdd {
  position: absolute;
  left: 18vw;
  bottom: 6vh;
  margin-right: 1vw;
}

.titlesAdd button {
  background-color: #16008b;
  color: white;
  font-size: 3rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: none;
  position: sticky;
  cursor: pointer;
}

.overlay,
.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background-color: #2f2f2f;
  opacity: 0.75;
}

.modalContent {
  position: absolute;
  background-color: white !important;
  width: 35vw;
  height: 25vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vh;
  gap: 2vh;
  color: black;
  display: grid;
  grid-template-rows: 0fr 0.3fr 0.3fr 0fr;
  border-radius: 0.2rem;
}

.groupName,
.chooseColor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chooseColor h4 {
  width: 35%;
}
.groupName h4 {
  width: 30%;
}

.groupName input {
  width: 70%;
  border: 2px solid #cccccc;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 1.25rem;
}

.colorChoice {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.colorBox {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.selected {
  border: 1.5px solid black;
}
.modalContent button {
  width: 20%;
  padding: 1vh;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #001f8b;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
}

.titlesList {
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  cursor: pointer;
}

.logoContainer {
  width: 40%;
  display: flex;
  justify-content: center;
}

.titleColor {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleColor h4 {
  color: white;
}

.titleBox {
  width: 20vw;
}

.selectedTitle {
  background-color: #d8d3d3;
}

@media only screen and (max-width: 769px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
  }
  .titlesContainer,
  .titleBox {
    width: 100%;
  }

  .titleContainer {
    width: 100%;
  }

  .titlesAdd {
    margin-left: 65vw;
  }

  .modalContent {
    width: 95vw;
    height: 27vh;
  }

  .colorChoice {
    width: 80%;
  }

  .modalContent h4,
  .buttonContainer button {
    font-size: 0.8rem;
  }

  .groupName input {
    font-size: 0.8rem;
    padding-left: 5vw;
  }
  .notesContainer {
    display: none;
  }
}
